# ProGuard config for Server Maintainer
-injars build/classes
-outjars build/optimized
-libraryjars <java.home>/jmods/java.base.jmod(!**.jar;!module-info.class)
-libraryjars <java.home>/jmods/java.net.http.jmod(!**.jar;!module-info.class)

# Keep entry point
-keep class dev.woflo.fabric.Main {
    public static void main(java.lang.String[]);
}

# Optimization settings
-optimizationpasses 8
-optimizeaggressively
-overloadaggressively
-repackageclasses ''
-allowaccessmodification
-mergeinterfacesaggressively

# Assume no side effects for certain methods (enables dead code removal)
-assumenosideeffects class java.lang.Object {
    java.lang.Class getClass();
}
-assumenosideeffects class java.lang.Thread {
    public static java.lang.Thread currentThread();
}
-assumenoexternalsideeffects class java.lang.StringBuilder {
    public java.lang.StringBuilder();
    public java.lang.StringBuilder(int);
    public java.lang.StringBuilder(java.lang.String);
    public java.lang.StringBuilder append(...);
    public java.lang.String toString();
}
-assumenoexternalreturnvalues class java.lang.StringBuilder {
    public java.lang.StringBuilder append(...);
}

# Strip debug attributes (smaller bytecode, obscured stack traces)
-renamesourcefileattribute ''
-keepattributes !SourceFile,!LineNumberTable,!LocalVariableTable,!LocalVariableTypeTable,Exceptions,InnerClasses,Signature,Record

# Suppress warnings
-dontwarn

# Keep Loader enum for switch/reflection
-keepclassmembers enum dev.woflo.fabric.Loader {
    <fields>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# Records support (for Api.CheckResult, ModScanner.Mod, etc.)
-keepclassmembers class * extends java.lang.Record {
    <fields>;
    <init>(...);
}
